@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .links {
    width: 150px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
}


.navbar .links a{
    text-decoration: none;
    color: gray;
    font-weight: 400;
    
}

.navbar .links a:hover{
    font-weight: 900;
    color:red;
}

.blog-preview{
    margin: 25px;
}

.blog-preview h1{
    margin-bottom: 20px;
    color:#f1356d;
}

.blog-preview:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}